features/xsd/names_results.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="names">
	  <xs:complexType>
		  <xs:sequence>
			  <xs:element name="authors" type="xs:token" maxOccurs="unbounded" />
			  <xs:element name="editors" type="xs:token" maxOccurs="unbounded" />
			  <xs:element name="publishers" type="xs:token" maxOccurs="unbounded" />
		  </xs:sequence>
	  </xs:complexType>
  </xs:element>
</xs:schema>